{% extends 'pages/container.html.twig' %}

{% block title %}{{"nav.plant"|trans}} | {{ parent() }}{% endblock %}

{% block content %}
    <div id="tree-index-map" data-locale="{{ app.request.attributes.get('_locale') | default(default_locale) }}"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfyS_86-zPuH4gUX9FHYVxi8WtRXl-qIE"></script>
    <script src="{{ asset('public/build/main.js') }}"></script>
{% endblock %}
