{% extends 'pages/container.html.twig' %}

{% block title %}{{"nav.homepage"|trans}} | {{ parent() }}{% endblock %}

{% block content %}
    <div class="container h-100 pb-5 bg-light">
        <div class="row bg-light">
            <div class="col-12 p-0 overflow-hidden">
                <div class="forest" style="background-image: url({{ asset('public/images/forest.jpg') }})">
                </div>
                <div class="box-forest"></div>
            </div>
        </div>

        <div class="row bg-light py-3">
            <div class="col-12">
                <h1 class="text-primary text-center" style="margin-top: -30px">{{ "app_title"|trans }}</h1>
                <p class="text-center lead">
                    {{ "front.lead"|trans|raw }}
                </p>
            </div>
        </div>

        <div class="row bg-light py-4">
            <div class="col-12">
                <div class="justify-content-center d-flex">
                    <a href="{{ path('app_data_index') }}" class="btn btn-primary btn-lg">{{ "nav.plant"|trans }}</a>
                </div>
            </div>
        </div>

        <div class="row bg-light py-4">
            <div class="col-lg-4 bg-gray mb-3">
                <div class="card">
                    <div class="card-body">
                        <a href="{{ path('app_uloga_suma') }}"><h4 class="card-title text-center">{{ "nav.forest"|trans }}</h4>
                            <div style="max-height: 220px" class="overflow-hidden">
                                <img class="mx-auto d-block" width="300px"
                                     src="{{ asset('public/images/uloga-sume.svg') }}">
                            </div>
                        </a>
                        <a href="{{ path('app_uloga_suma') }}" class="card-link float-right">{{ "details"|trans }}</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 bg-gray mb-3">
                <div class="card">
                    <div class="card-body">
                        <a href="{{ path('app_vrste_drveca') }}"><h4 class="card-title text-center">{{ "nav.trees"|trans }}</h4>
                            <div style="max-height: 264px; margin-top: -44px;" class="overflow-hidden">
                                <img class="mx-auto d-block" width="300px"
                                     src="{{ asset('public/images/vrste-drveca.svg') }}">
                            </div>
                        </a>
                        <a href="{{ path('app_vrste_drveca') }}" class="card-link float-right">{{ "details"|trans }}</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 bg-gray mb-3">
                <div class="card">
                    <div class="card-body">
                        <a href="{{ path('app_projekat') }}"><h4 class="card-title text-center">{{ "nav.project"|trans }}</h4>
                            <div style="max-height: 264px; margin-top: -44px;" class="overflow-hidden">
                                <img style="padding: 30px 0" class="mx-auto d-block" width="200px"
                                     src="{{ asset('public/images/logo.png') }}">
                            </div>
                        </a>
                        <a href="{{ path('app_projekat') }}" class="card-link float-right">{{ "details"|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
