{% extends 'pages/container.html.twig' %}

{% block title %}O projektu | {{ parent() }}{% endblock %}

{% block content %}
    <div class="container pb-5 bg-light overflow-hidden">
        <div class="row bg-light">
            <div class="col-12 p-0 overflow-hidden">
                <div class="forest"
                     style="background-image: url({{ asset('public/images/uloga-sume.jpg') }})">
                </div>
            </div>
        </div>

        <div class="bg-light p-3">
            <h1>O Projektu</h1>

            <p>Portal Šume i klima je pobedničko rešenje na Izazovu otvorenih podataka – Životna
                sredina i mi koji je
                objavio <a target="_blank"
                           href="http://www.rs.undp.org/content/serbia/sr/home.html">Program
                    Ujedinjenih
                    nacija za razvoj (UNDP)</a> u partnerstvu <a target="_blank"
                                                                 href="https://www.ite.gov.rs/">Kancelarije
                    za informacione
                    tehnologije i elektronsku upravu</a>. Portal su
                razvili:
            </p>
            <ul>
                <li>
                    <a href="https://www.facebook.com/crnog1/" target="_blank">Centar za razvoj
                        neformalnog obrazovanja
                        građana – CRNOG</a>
                </li>
                <li>
                    <a href="https://www.serbiancaseforspace.com/" target="_blank">Srpski zalog za
                        svemir</a>

                </li>
                <li>
                    <a href="http://jedanstepen.org/sr/" target="_blank">Jedan stepen Srbija</a>
                </li>
            </ul>

            <p>Prvobitni algoritam je razvijen u okviru projekta <a target="_blank"
                                                                    href="http://jedanstepen.org/wp-content/uploads/2019/01/Sume-i-klima-Brosura.pdf">Šume
                    i klima</a>, koje je u 2018. godini
                podržalo Ministarstvo zaštite životne sredine Republike Srbije. Portal je izrađen na
                osnovu unapređenje
                verzije algoritma:
            </p>
            $$S = 0,25P+0,20C+0,15M+0,12G+0,09D+0,07F+0,05W+0,04L+0,03R$$
            <p>gde je:</p>

            <p>
                S – pogodnost terena za pošumljavanje<br>
                P – tip zemljišta<br>
                C – klimatski uslovi (sadašnjost i budućnost)<br>
                M – geomorfološki uslovi<br>
                G – geološka podloga<br>
                D – suša<br>
                F – ranjivost od požara<br>
                W – hidrološki uslovi<br>
                L – namena zamljišta<br>
                R – blizina saobraćajnice<br>
            </p>

            <p>
                Formula je dobijena primenom analitičko hijerarhijskog procesa. Od krajnjih
                rezultata su izuzete
                površine koje su već pokrivene šumama i zaštićena područja na kojima
                je potrebno posebno
                planirati razvoj šumskog pokrivača. Algoritam ne razmatra planska i strateška
                dokumenta, zbog čega se
                svim korisnica preporučuje da pre sadnje drveća kontaktiraju nadležne institucije.
            </p>

            <p>
                Primena algoritma je podrazumevala primenu geografskih informacionih sistema,
                odnosno QGIS besplatnog
                programa. Korišćeni su otvoreni podaci sa različitih platformi (<a target="_blank"
                                                                                   href="https://data.gov.rs/sr/">https://data.gov.rs/sr/</a>,
                <a href="https://www.copernicus.eu/en"
                   target="_blank">https://www.copernicus.eu/en</a>, <a
                        href="https://www.diva-gis.org/"
                        target="_blank">https://www.diva-gis.org/</a> i sl.), pri čemu
                krajnji rezultat zavisi od
                kvaliteta ulaznih podataka.
            </p>

            <p>Postoje dva pravca daljeg razvoja portala:</p>

            <ol>
                <li>Unapređenje kvaliteta ulaznih podataka kojima će se dobiti kvalitetniji izlazni
                    podaci.
                </li>
                <li>Povećanja broja vrsta za koje će biti prikazana pogodnost.</li>
            </ol>
        </div>

        <div class="row bg-white py-4">
            <div class="col-12 d-flex align-items-center justify-content-between">
                <img width="150px" src="{{ asset('public/images/sponsors/uk-embassy.jpg') }}">
                <img width="100px" src="{{ asset('public/images/sponsors/uk-aid.png') }}">
                <img width="150px" src="{{ asset('public/images/sponsors/wbg.jpg') }}">
                <img width="200px" src="{{ asset('public/images/sponsors/e-uprava.png') }}">
                <img width="100px" src="{{ asset('public/images/sponsors/undp.jpg') }}">
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <p class="text-muted" style="font-size: 12px">
                    *Za sadržaj ovog vebsajta odgovorni su isključivo autori, a izneti stavovi ne
                    predstavljaju nužno stavove Vlade Ujedinjenog Kraljevstva, Svetske banke,
                    Kancelarije za informacione tehnologije i elektronsku upravu, Ujedinjenih nacija
                    i Programa za razvoj Ujedinjenih nacija.
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML'
            async></script>
{% endblock %}
