{% set route = app.request.get('_route') %}

<nav class="navbar navbar-expand-lg navbar-light bg-primary navbar-dark">
    <div id="override-nav"></div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse py-3 py-md-0" id="navbarSupportedContent">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul class="navbar-nav mr-auto justify-content-between">
                        <li class="nav-item pl-3 pl-md-0 {% if route == 'app_index' %}active{% endif %}">
                            <a class="nav-link" href="{{ path('app_index') }}">Naslovna
                                {% if route == 'app_index' %}<span class="sr-only">(current)</span>{% endif %}
                            </a>
                        </li>

                        <li class="nav-item pl-3 pl-md-0 {% if route == 'app_uloga_suma' %}active{% endif %}">
                            <a class="nav-link" href="{{ path('app_uloga_suma') }}">Uloga šuma
                                {% if route == 'app_uloga_suma' %}<span class="sr-only">(current)</span>{% endif %}
                            </a>
                        </li>

                        <li class="nav-item pl-3 pl-md-0 {% if route == 'app_vrste_drveca' %}active{% endif %}">
                            <a class="nav-link" href="{{ path('app_vrste_drveca') }}">Vrste drveća
                                {% if route == 'app_vrste_drveca' %}<span class="sr-only">(current)</span>{% endif %}
                            </a>
                        </li>


                        <li class="nav-item pl-3 pl-md-0 {% if route == 'app_data_index' %}active{% endif %}">
                            <a class="nav-link" href="{{ path('app_data_index') }}">Gde pošumiti?
                                {% if route == 'app_data_index' %}<span class="sr-only">(current)</span>{% endif %}
                            </a>
                        </li>

                        <li class="nav-item pl-3 pl-md-0 {% if route == 'app_projekat' %}active{% endif %}">
                            <a class="nav-link" href="{{ path('app_projekat') }}">O projektu
                                {% if route == 'app_projekat' %}<span class="sr-only">(current)</span>{% endif %}
                            </a>
                        </li>

                        <li class="nav-item pl-3 pl-md-0 {% if route == 'app_contact' %}active{% endif %}">
                            <a class="nav-link" href="{{ path('app_contact') }}">Kontakt
                                {% if route == 'app_contact' %}<span class="sr-only">(current)</span>{% endif %}
                            </a>
                        </li>

                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item pl-3 pl-md-0 {% if route == 'app_data_index' %}active{% endif %}">
                                <a class="nav-link" href="{{ path('security_logout') }}">Logout</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
